# This file includes key values for instantiating persistent-postgres template
# "oc process postgresql-persistent -n openshift --param-file={PATH_TO_THIS} | oc create -f - -n {ns}"
# TODO: Replace POSTGRESQL_USER and POSTGRESQL_PASSWORD with placeholders

MEMORY_LIMIT=512Mi
NAMESPACE=openshift
DATABASE_SERVICE_NAME=postgresql
POSTGRESQL_USER=${POSTGRESQL_USER}
POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE}
VOLUME_CAPACITY=5Gi
POSTGRESQL_VERSION=latest